body
  {
    margin-top:  60px;  
  }

.btn.large
  {
    font-size:   1em;
  }

p 
  {
    font-size:   13px;
    line-height: 16px;
  }

/* FIXME: workaround since the first item in the home gets h2 instead of h3 */
div.row h2
  {
    font-size:      1.4em;
    line-height:    27px;
    margin-bottom:  0px;  
  }

div.row h3
  {
    font-size: 1.4em;
  }

.images 
  {
    width:        900px;
    height:       540px;
    background:   transparent;
    border:       0px;
  }

.images div 
  {
    width:        900px;
    height:       540px;
    margin:       0px;
    padding:      0px;
  }

.images div img 
  {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
  }

.slidetabs 
  {
    margin-left:  450px;
    margin-bottom:40px;
  }

.slidetabs a 
  {
    background:   url($mediaLink(relativePath='/jquerytools/1.2.6/img/scrollable/arrow/navigator.png')$) 0 0 no-repeat;
  }

.hero-unit p
  {
/*    text-align:   center;*/
  }

div.nw-addthis 
   {
    left:       auto;
    right:      20px;
  }
  