.container-fluid
  {
    padding-top:    100px;
  }

.well
  {
    padding-left:   10px;
    padding-right:  10px;
    padding-top:    10px;
    padding-bottom: 10px;
/*    background-color: #0f0f0f;*/
  }

/* accessibility */
span.accesskey 
  {
    text-decoration: none;
  }

.accessibility 
  {
    position: absolute;
    top:     -999em;
    left:    -999em;
  }
/* end accessibility */

div.nw-addthis 
   {
    position:   fixed;
    left:       20px;
    top:        12px;
    z-index:    10001;
    width:      180px;
  }

div.addthis_toolbox
  {
    float:      left;
    width:      180px;
  }  
  