h1,
h2,
h3,
h4,
h5,
h6
  {
    font-family:    Lora, serif;
    font-weight:    bold;
  }

h2
  {
    margin-bottom:  40px;  
  }
  
h2, .nw-blog-post h3
  {
    font-size:      1.5em;
  }

div.nw-main h3
  {
    margin-top:     40px;  
    margin-bottom:  10px;  
  }
  
div.nw-main h4
  {
    margin-top:     40px;  
    margin-bottom:  10px;  
  }
  
a,
a:hover 
  {
    color: rgb(47, 145, 204);
  }

p, 
em,
div.nw-main li 
  {
    color:       #202020;
    font-family: Lora, serif;
    font-size:   1.1em;
    line-height: 24px;
  }

td.nowrap
  {
    white-space:   nowrap;  
  }
  
thead td
  {
    font-weight:   bold;   
  }
  
td ul li,
td ul li a
  {
    line-height:   18px !important;   
    font-family:   sans-serif;
  }
    
blockquote:before
  {
    content: "\201C";
    display: block;
    float: left;
    height: 0.5em;
    margin-left: 0.4em;
    margin-top: 0em;
    font-size: 7em;
    color: #e0e0e0;
    font-style:  plain;
  }

blockquote
  {
    border-left-width: 0px;
    padding-left:      0px;
    font-family:       Lora, serif;
    font-style:        italic;
  }

blockquote p
  {
/*    color:       #303030;*/
    font-family:       Lora, serif;
    font-size:         1.1em;
    font-style:        italic;
    line-height:       24px;
    margin-left:       100px;
    margin-top:        30px;
    margin-bottom:     30px;
  }

pre 
  { 
    font-size:        0.9em;
    border-radius:     10px 10px 10px 10px;
  }

pre strong
  {
    color:         navy;      
  }
  
pre.prettyprint 
  { 
    background-color: rgb(245, 245, 245) !important;
    border-color:     rgba(0, 0, 0, 0.149) !important;
    border-style:     solid !important;
    border-width:      1px !important;
    margin-bottom:    30px !important;
    margin-left:       0px !important;
    margin-right:      0px !important;
    margin-top:       30px !important;
    padding-bottom:    8px !important;
    padding-left:      8px !important;
    padding-right:     8px !important;
    padding-top:       8px !important;
  }  
  
code
  {
    font-size:        1em;
    background-color: transparent;
    color:            black;  
  }

/* Monaco removed, Google Chrome renders it without anti-aliasing */
code, pre
  {
    font-family:      Ubuntu Mono, Andale Mono, Courier New, monospace;  
  }
  
.btn
  { 
    font-size: 0.81em;
  }  
 
div.navbar .fill
  {
    /* background: -moz-linear-gradient(#002255, #002044) repeat-x scroll 0 0 #002044; */
    background: -moz-linear-gradient(#049cdb, #0064cd) repeat-x scroll 0 0 #0064cd;
  }

div.navbar a.brand
  {
    font-size:      1.4em;
    font-family:    Lora, serif;
    font-weight:    bold;
  }

div.navbar > .nav > li  
  {
    font-size:      1em;
  }
  
footer
  {
    color:          rgb(128, 128, 128);
    font-family:    sans-serif;
    font-size:      0.75em;
    font-style:     italic;
    line-height:    1.3em;
    margin-top:     30px;
    margin-bottom:  20px;
  }

div.hero-unit h1
  {
    color:          #0064cd;
    font-family:    Lora, serif;
    font-size:      2.5em;
    font-style:     italic;
    margin-bottom:  30px;
  }

div.hero-unit p
  {
    font-style:     italic;
    font-size:      1.375em;
  }

div.hero-unit 
  {
    background-color: #e8e8ff;
    border-radius: 1.125em 1.125em 1.125em 1.125em;
  }
  
div.nw-sidebar h2
  {
    font-size: 1.125em; 
    margin-bottom: 0px;
  }

div.nw-sidebar ul
  {
    list-style: none;
    margin: 0;
    padding: 0; 
  }

div.nw-sidebar li
  {
    text-align: left;
    font-size: 1em;
  }

div.nw-sidebar a
  {
    font-style:  italic;
  }
  
div.container-fluid div.nw-sidebar 
  {
    font-family:   sans-serif;
  }

div.container-fluid div.content p,
div.container-fluid div.content blockquote,
div.container-fluid div.nw-main p,
div.container-fluid div.nw-main blockquote
  {
    text-align:    justify;
  }

div.container-fluid div.nw-main p a,
div.container-fluid div.nw-main p a:hover
  {
    /* font-weight: bold; */
  }

div.container-fluid div.nw-main div.float-top-right p.caption
  {
    font-style:    italic;
    font-size:     0.9em;
    line-height:   1.375em;
    text-align:    center;
  }

div.nw-blog-post-meta
  {
    position:      relative;
    font-size:     0.7em;
    margin-bottom: 2.5em;
  }

div.nw-blog-post-content
  {
    padding-top:   10px;
  }
  
/**************** Ohloh ***********************************************************************************************/

div.gadget
  {
    border-color:  transparent !important;
    padding:         0px !important;
    width:         175px !important;
  }

div.gadget h3
  {
    visibility:    hidden;  
  }
  
div.gadget div.main
  {
    margin-left:   0px !important;      
  }
  
/**************** NW Examples *****************************************************************************************/

div.nw-example-components
  {
    max-width:        700px;
    min-width:        520px;
    margin-left:      auto;
    margin-right:     auto;
    margin-top:       20px;
    margin-bottom:    20px;
    font-family:      sans-serif;
  }

div.nw-example-component
  {
    padding:          4px;
    border:           1px solid rgb(100, 100, 100);
    text-align:       left;
/*    border-radius:    15px;*/
  }

div.nw-example-component table td.property-name
  {
    text-align:       right;
    font-weight:      bold;
    vertical-align:   top;
    padding-left:     4px;
    padding-right:    4px;
  }

div.nw-example-component table td.property-name,
div.nw-example-component table td.property-value
  {
    font-size:        80%;
  }

div.component-header
  {
    margin:           -4px;
    padding:          4px;
    color:            white;
    background-color: rgb(100, 100, 100);
    font-size:        80%;
    margin-bottom:    10px;
  }

div.nw-example-component
  {
    margin-top:       4px;
    background-color: rgb(240, 240, 240);
  }

div.nw-example-component div.nw-example-component
  {
    background-color: rgb(220, 220, 220);
  }

div.nw-example-component div.nw-example-component div.nw-example-component
  {
    background-color: rgb(200, 200, 200);
  }

div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component
  {
    background-color: rgb(180, 180, 180);
  }

div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component
  {
    background-color: rgb(160, 160, 160);
  }

div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component div.nw-example-component
  {
    background-color: rgb(140, 140, 140);
  }
