@import url("http://fonts.googleapis.com/css?family=Indie+Flower|PT+Sans+Narrow:400,700|Questrial|Merriweather:400,700|Lora:400italic,700italic");
@import url("northernwind-floss-projects.css");

body
  {
    background:       #ffffff;
    font-family:      Merriweather, serif;
    font-size:        110%;
    line-height:      1em;
  }

p, li
  {
    font-size:        75%;
    line-height:      1.7em;
    text-align:       justify;
  }

em
  {
    font-size:        75%;
    font-family:      Lora, Merriwheather, serif;
    line-height:      1.7em;
  }

p em
  {
    font-size:        110%;
    font-family:      Lora, Merriwheather, serif;
  }

h1, h2, h3, h4
  {
    font-family:      Questrial, Arial, sans-serif;
  }

  
div.nwMacro_EXAMPLE
  {
    display:          block;
    border:           1px; 
    background-color: #d0d0d0;
    padding:          10px;
  }  